
.bg-light p {
    color: #1a1d20;
}

.bg-light h1 {
    color: #424242;
}

.bg-light h2 {
    color: #424242;
}

.bg-light .home-name {
    color: #4a8140;
}

.bg-light h4 {
    color: #424242;
}

.bg-light .title {
    color: #1a1d20;
}

.bg-light .nav-item {
    color: #1a1d20;
}