.about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about .title {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-family: "Lucida Sans", sans-serif;
    color: #adadad;
    font-size: 2.5rem;
    border-bottom: 3px solid #4a8140;
}

.about .content {
    flex-direction: row;
    height: 100%;
    width: inherit;
    display: inherit;
}

.about img {
    margin-top: 7vh;
    padding-left: 5vw;
    width: 35vw;
}

@media only screen and (max-width: 1024px) {
    .about img {
        display: none;
    }
}

.about .text {
    margin-left: 3vw;
    width: 60%;
    height: 100%;
    padding: 5vh 5vw 2vh;
    font-family: "Lucida Sans", sans-serif;
    color: white;
    font-size: 1.25rem;
}

@media only screen and (max-width: 1024px) {
    .about .text {
        width: 100%;
    }
}